@model aspITIFinal.Models.Category
@{
    ViewData["Title"] = "Create";
}
<h1 style="text-align:center;margin-bottom:30px;margin-top:140px">Create Category</h1>

<div style="width:60%" class=" mx-auto mt-3 text-center shadow-lg">
    <div class="row">

        <form style="margin:40px auto ;width:90% " asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div style="margin-bottom:10px" class="form-group row">
                <label asp-for="Category1" class="col-sm-2 col-form-label">Category1</label>
                <div class="col-sm-10">
                    <input asp-for="Category1" type="text" class="form-control">
                </div>
            </div>

            <div style="margin:auto ;width:20%" class="form-group row">
                <button type="submit" value="Save" style="margin-top:45px; background-color:#6f42c1; border: 1px solid rgb(111,66,193);padding:10px; width: 110px" class="btn btn-primary "><i class="bi bi-plus-square"></i> Create </button>
            </div>
        </form>

    </div>
</div>


<div>
    <a style="background-color:#6f42c1; border: 1px solid rgb(111,66,193);padding:10px; width: 200px; margin:30px" class="btn btn-primary " asp-action="Index"><i class="bi bi-skip-backward-fill"></i> Back to List</a>
</div>

