@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div style="width:45%;" class=" mx-auto mt-3 mb-3 text-center shadow-lg">
    <h1 style="margin-top:200px">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
</div>